<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assistgoandroid">
    <!-- Camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Save/view images or videos to your phone -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Contact list Retrieval Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- Access photos in local storage permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--Phone permissions-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <!--GPS location permission for emergency number lookup-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssistGoAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EnteringActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".translateActivity">
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing">
        </activity>
        <activity android:name=".chooseLanguageActivity">
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing">
        </activity>

        <activity android:name=".callActivity" />
        <activity android:name=".contactActivity" />
        <activity android:name=".messageActivity" />
        <activity android:name=".emergency.emergencyActivity" />
        <activity android:name=".emergency.unusedFiles.ambulanceActivity" />
        <activity android:name=".emergency.unusedFiles.fiirefighterActivity" />
        <activity android:name=".emergency.unusedFiles.policeActivity" />

        <activity android:name=".homemessageActivity" />


        <activity android:name=".Contact.contactCardActivity" />
        <activity android:name=".Contact.newContactCardActivity" />
        <activity android:name=".Contact.editContactCardActivity" />
        <activity android:name=".qrScanPageActivity" />
        <activity android:name=".Contact.newContactCardActivityFromQRCode" />

        <activity android:name=".Settings.settingsActivity" />
        <activity android:name=".Settings.profileActivity" />
        <activity android:name=".Settings.changeNumberActivity" />
        <activity android:name=".Settings.aboutActivity" />
        <activity android:name=".Settings.PreferencesActivity" />


        <activity android:name=".Call.VideoCall" />
        <activity android:name=".Call.VoiceCall" />
        <activity android:name=".Call.VoiceCallRinging" />
        <activity android:name=".Call.VideoCallRinging" />


        <activity
            android:name=".emergency.DialerActivityGit"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:exported="true">
            <intent-filter>
                <!-- Handle links from other applications -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Populate the system chooser -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Handle links in browsers -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".emergency.CallServiceGit"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <!-- [START fcm_listener] -->
<!--        <service-->
<!--            android:name=".Call.videoCallHelpers.notify.fcm.NotifyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        &lt;!&ndash; [END fcm_listener] &ndash;&gt;-->
<!--        &lt;!&ndash; [START instanceId_listener] &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".Call.videoCallHelpers.notify.fcm.NotifyFirebaseInstanceIDService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        &lt;!&ndash; [END instanceId_listener] &ndash;&gt;-->

<!--        <service-->
<!--            android:name=".Call.videoCallHelpers.notify.service.RegistrationIntentService"-->
<!--            android:exported="false" />-->

        <activity android:name=".emergency.CallActivityGit"></activity>

        <receiver android:name=".Messaging.MessageReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>